In [2]:
import pandas as pd
import numpy as np

from scipy import stats
import math

from mplsoccer import PyPizza, add_image, FontManager
import matplotlib.pyplot as plt
from highlight_text import fig_text

In [47]:
def_stats = pd.read_csv("defensive_actions.csv")
pass_stats = pd.read_csv("passes.csv")
sca_stats = pd.read_csv("shot_creating_actions.csv")
shots_stats = pd.read_csv("shots.csv")

In [82]:
pd.options.display.max_columns = 500

In [98]:
def_stats.head(1)

,Player,Nation,Pos,Squad,90s,Touches,Touches in Def Pen,Touches in Def 3rd,Touches in Mid 3rd,Touches in Att 3rd,Touches in Att Pen,Take-Ons Att,Take-Ons Succ,Tkld,Prg Carries,Carries into Final 3rd,CPA,Prg Passes Recived
0,Brenden Aaronson,us USA,MFFW,Leeds United,25.6,1108,11,112,477,541,67,100,34,48,43,33,13,147

In [88]:
shots_stats.head()

             Player   Nation         Squad   90s  Goals  Shots  SoT   xG  npxG
0  Brenden Aaronson   us USA  Leeds United  25.6      1     40    9  3.7   3.7
1         Che Adams  sct SCO   Southampton  22.1      5     47   14  6.6   6.6
2       Tyler Adams   us USA  Leeds United  24.0      0      4    0  0.1   0.1
3  Tosin Adarabioyo  eng ENG        Fulham  20.2      1     12    4  0.6   0.6
4      Nayef Aguerd   ma MAR      West Ham  15.7      2     11    2  2.2   2.2

In [75]:
shots_stats = shots_stats[["Player", "Nation", "Squad", "90s", "Goals","Shots", "SoT", "xG", "npxG"]]

In [107]:
df.columns

Index(['Player', 'Nation', 'Pos_x', 'Squad', '90s', 'Touches',
       'Touches in Def Pen', 'Touches in Def 3rd', 'Touches in Mid 3rd',
       'Touches in Att 3rd', 'Touches in Att Pen', 'Take-Ons Att',
       'Take-Ons Succ', 'Tkld', 'Prg Carries', 'Carries into Final 3rd', 'CPA',
       'Prg Passes Recived', 'Passes Cmp', 'Passes Att', 'passes Cmp%',
       'Assists', 'xAG', 'xA', 'KP', 'Final 3rd', 'PPA', 'CrsPA', 'PrgP',
       'Shot Creating Actions', 'SCA90', 'Goal Creating Actions', 'GCA90',
       'Goals', 'Shots', 'SoT', 'xG', 'npxG'],
      dtype='object')

In [129]:
df.head()

,Player,Nation,Pos_x,Squad,90s,Touches,Touches in Def Pen,Touches in Def 3rd,Touches in Mid 3rd,Touches in Att 3rd,Touches in Att Pen,Take-Ons Att,Take-Ons Succ,Tkld,Prg Carries,Carries into Final 3rd,CPA,Prg Passes Recived,Passes Cmp,Passes Att,passes Cmp%,Assists,xAG,xA,KP,Final 3rd,PPA,CrsPA,PrgP,Shot Creating Actions,SCA90,Goal Creating Actions,GCA90,Goals,Shots,SoT,xG,npxG
0,Brenden Aaronson,us USA,MFFW,Leeds United,25.6,1108,11,112,477,541,67,100,34,48,43,33,13,147,575,771,74.6,3,4.2,2.6,46,45,16,4,84,94,04.07,7,0.27,1,40,9,3.7,3.7
1,Che Adams,sct SCO,FW,Southampton,22.1,717,29,66,286,377,103,33,16,13,17,11,9,115,330,498,66.3,3,2.8,2.2,24,21,11,2,34,56,02.53,7,0.32,5,47,14,6.6,6.6
2,Tyler Adams,us USA,MF,Leeds United,24.0,1628,44,376,1010,254,5,22,7,12,19,21,0,20,1108,1343,82.5,0,1.4,1.0,24,110,13,0,136,43,02.19,1,0.04,0,4,0,0.1,0.1
3,Tosin Adarabioyo,eng ENG,DF,Fulham,20.2,1324,206,667,626,40,17,6,4,2,16,11,1,3,903,1112,81.2,0,0.4,0.4,6,77,6,0,83,17,01.24,0,0.00,1,12,4,0.6,0.6
4,Nayef Aguerd,ma MAR,DF,West Ham,15.7,814,142,478,309,34,22,6,4,0,2,1,0,4,504,648,77.8,0,0.4,0.3,5,33,4,0,24,12,01.16,0,0.00,2,11,2,2.2,2.2

In [128]:
df = pd.merge(def_stats, pass_stats, on=["Player", "Nation", "Squad", "90s"])
df = pd.merge(df, sca_stats, on=["Player", "Nation", "Squad", "90s"])
df = pd.merge(df, shots_stats, on=["Player", "Nation", "Squad", "90s"])
df = df.drop('Pos_y', axis=1)

In [130]:
df.to_csv('all_data.csv')